In [3]:
import numpy as np
import pandas as pd
# from pandas_datareader import data, wb
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import datetime as dt

In [2]:
ticker = 'AAPL'
stock = yf.Ticker(ticker)
print(end)

NameError: name 'end' is not defined

In [18]:
df

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2020-01-02  301.194916  301.213476  299.025448  299.961853  59151200
2020-01-03  298.914215  300.054588  297.699684  297.755309  77709700
2020-01-06  300.054565  300.138003  297.013570  297.134101  55653900
2020-01-07  299.210907  299.961876  298.756597  299.479753  40496400
2020-01-08  300.805542  302.038605  299.155262  299.405575  68296000
...                ...         ...         ...         ...       ...
2024-12-24  601.299988  601.340027  595.469971  596.059998  33160100
2024-12-26  601.340027  602.479980  598.080017  599.500000  41219100
2024-12-27  595.010010  597.780029  590.760010  597.539978  64969300
2024-12-30  588.219971  591.739990  584.409973  587.890015  56578800
2024-12-31  586.080017  590.640015  584.419983  589.909973  57052700

[1258 rows x 5 columns]